@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollBar::-webkit-scrollbar{
    height: 8px !important;
    width: 8px;
}

.custom-scrollBar::-webkit-scrollbar-thumb{
    background-color:#ffffff3b;
}